.members{
    width: 100%;
    /* height: 92vh; */
    height: min(92vh, calc(100vh - 52px));
    /* height: min(92vh, calc (100vh -52px) ); */
    min-width: 990px;
    min-height: 570px;
    background-color: #F2F2F5;
    padding: max(10px,3vh) 3% 0% 3%;
    display: flex;
    justify-content: space-between;
}


/* Left */
.left{
    width: 15%;
    height: 100%;
    min-width: 170px;
    display: flex;
    flex-direction: column;
}



/*Main*/

.main{
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #00000029;
    border-radius: 14px;
    margin: 0px 2%;
    overflow: scroll;
}

.main::-webkit-scrollbar {
    display: none;
}
