.dropzone{
    height: 100%;
    width: 100%;
    background-color: #fff;
    border: 2px dashed #11016E;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    cursor: pointer;
}

.disabled{
    border: 2px dashed #DCDCDC;
    cursor: default;
}

.disabled .upload_text{
    color: #DCDCDC;
}
.icon{
    opacity: 0.3;
    height: 4em;
    width: 4em;
}

.upload_text{
    color: #11016E;
}
.file_input{
    display: none;
}

.highlight{
    background-color: rgb(188,185,236);
}


@media(max-width: 480px){
    .dropzone{
        font-size: 0.6rem;
    }
}