.users{
    width: 100%;
    padding: 2% 4%;
    min-height: max-content;

}

/*header */
.heading_box{
    width: 100%;
    height: 1.7em;
    display: flex;
    justify-content: space-between;

}

.main_heading{
    width: calc(100%/2);
    color: #10116E;
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.header_buttons{
    width: calc(100%/2);
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.header_buttons button{
    width: 25%;
    height: 100%;
    color: #FFFFFF;
    border:0px;
    background: url('../../assets/icons/tick_white.svg') no-repeat;
    background-position: 10% 50%;
    background-color: #878787;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 4%;
}

.header_buttons .active_button{
    background-color: #10116E;
}

.filter{
    width: calc(100%/2);
    height: 100%;
    display: flex;
    justify-content: flex-end;

}

.batch_year{
    width: 15%;
    min-width: max-content;
    border: 0px;
    background: #DCDCDC;
    border-radius: 8px;
    margin-left:2%;
    text-align: center;
    text-align-last: center;
}

.batch_name{
    width: 15%;
    min-width: max-content;
    border: 0px;
    background: #DCDCDC;
    border-radius: 8px;
    display: flex;
    text-align: center;
    text-align-last: center;
    margin-left:2%
}

.search_button{
    width: 20%;
    border: 0px;
    color: #fff;
    background: #10116E;
    border-radius: 8px;
    margin-left: 2%;
    cursor: pointer;

}
.line{
    width: 75%;
    color: #10116E;
    margin: 2% auto;
}

/*content*/
.content{
    width: 100%;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}


/*user*/
.user{
    width: calc((100% - 3em)/3);
    /* height: max-content; */
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 16px #00000029;
    border-radius: 5px;
    padding: 2% 2% 2% 2%;
    margin: 1em 0px;
}

.profile{
    width: 100%;
    height: auto;
    min-height: 3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile_pic{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-right: 2%;
    box-shadow: 6px 6px 9px #00000040;

}

.info{
    width: calc(100% - 3em - 1.5em - 2%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-around; */
}

.name{
    font-size: 1em;
    color:#10116E;
    font-weight: bold;
}

.position{
    color: #10116E;
    font-size: 0.8em;
    font-weight: 500;
}

.atag{
    height: max-content;
}

.profile_icon{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/*details*/

.details{
    width: 100%;
    height: calc(100% - 3em);
    background: #DCDCDC;
    margin: 4% 0px;
    padding: 2% 3%;
    border-radius: 5px;
    margin-top: 1em;
}

.field{
    color: #10116E;
    font-weight: bold;
    font-size: 0.8em;
}

.value{
    color: #10116E;
    font-weight: 500;
    font-size: 0.8em;
}

.profile_buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile_buttons button:disabled{
    background-color: #DCDCDC;
    cursor: default;
}

.accept_button{
    width: 40%;
    height: 2.5em;
    border: 0px;
    color: #ffffff;
    background: url('../../assets/icons/tick_white.svg') no-repeat;
    background-position: 8% 50%;
    background-size: 1em 1em;
    background-color: #1E9F0F;
    border-radius: 5px;
    padding-left: 8%;
    cursor: pointer;
}

.reject_button{
    width: 40%;
    height: 2.5em;
    border: 0px;
    color: #ffffff;
    background: url('../../assets/icons/cancel_white.svg') no-repeat;
    background-position: 8% 50%;
    background-size: 1em 1em;
    background-color: #C81616;
    border-radius: 5px;
    padding-left: 8%;
    cursor: pointer;
}

/*visibility*/
.visibilty{
    visibility: hidden;
}