.profile{
    width: 100%;
    /* height: 92vh; */
    height: min(92vh, calc(100vh - 52px));
    /* height: min(92vh, calc (100vh -52px) ); */
    min-width: 990px;
    min-height: 570px;
    background-color: #F2F2F5;
    padding: 2% 3% 0% 3%;
    display: flex;
    justify-content: center;
}

/* Left */
.left{
    width: 15%;
    height: 100%;
    min-width: 185px;
    display: flex;
    flex-direction: column;
}
/*main */

.main{
    width: 70%;
    height: 90%;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #00000029;
    border-radius: 14px;
    padding: 2% 4%;
    margin: 0px 2%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/*main_left*/

.main_left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 1.5em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.heading{
    color: #10116E;
    font-size: 1.5em;
    font-weight: 700;
}

.edit_svg{
    box-shadow: 3px 3px 6px #00000040;
    border-radius: 50%;
    cursor: pointer;
}

.content{
    height: calc(100% - 2.5em);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.details{
    width: 100%;
    height: 8%;
    display: flex;
}

.about_details{
    width: 100%;
    height: 30%;
    display: flex;
}
.label{
    width: 25%;
    color: #10116E;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.field{
    width: 75%;
    color: #10116E;
    background: #F2F2F5;
    border-radius: 8px;
    padding: 8px 4%;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    /* overflow-wrap: anywhere; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.details_input{
    width: 75%;
    color: #10116E;
    background: #F2F2F5;
    border-radius: 8px;
    padding: 8px 4%;
    resize: none;
    outline: 0;
    font-size: 0.8em;
    /* align-items: center; */
    border: 0;
}

.about_details div{
    white-space: normal;
    overflow-wrap: anywhere;
    overflow-x: hidden;
    overflow-y: scroll;
    align-items: flex-start;
}
.field::-webkit-scrollbar {
    display: none;
}

/* line */
.vertical_line{
    height: 90%;
    border: 0.5px solid #10116E;
    margin: 0px 5%; 
    align-self: center;
}

.main_right{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;  
}

.main_right_upper{
    width: 100%;
    height: 55%;
    justify-self: flex-start;
}

.right_upper_content{
    height: calc(80% - 2.5em);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.right_upper_content::-webkit-scrollbar{
    display: none;
}

.experience{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

.experience_heading{
    font-size: 1em;
    font-weight: 600;
}

.experience_company_wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    font-size: 0.8em;
    justify-content: space-between;
}

.horizontal_line{
    width: 100%;
    border: 0.5px solid #000;
}
/* right_bottom*/

.right_bottom{
    width: 100%;
    height: 45%;
    justify-self: end;
}

.right_lower_content{
    height: calc(90% - 2.5em);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.links{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right_bottom_icon{
    display: flex;
    align-items: center;
}

.links_url{
    width: calc(90% - 1em);
    height: 100%;
    min-height: max-content;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    background: #f2f2f5;
    padding: 0 4%;
    border-radius: 10px;
    white-space: nowrap;
    overflow-x: auto;
    color: #10116E;
}

.links_url::-webkit-scrollbar {
    display: none;
}
.links_input{
    width: calc(90% - 1em);
    height: 100%;
    min-height: max-content;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    background: #f2f2f5;
    padding: 0 4%;
    border: 0;
    color: #10116E;
    border-radius: 10px;
    /* overflow-wrap: anywhere; */
}

.disabled_text{
    color: #736e6e;
    cursor: default;
}