.modal{
    width: 100vw;
    height: 100vh;
    min-width: 990px;
    min-height: 570px;
    background-color: rgba(188,188,188,0.5);
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}