.navbar{
    width: 100%;
    height: 8vh;
    min-width: 990px;
    min-height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3%;
    font-size: 1rem;
}

.left{
    width: calc(94%/3);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left a{
    display: flex;
    align-items: center;
}

.institute_logo{
    width: auto;
    height: 3em;
}

.title{
    width: 232px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px 3%;
}

.institute_name{
    margin:0px;
    color:#10116E;
    font-size: 1.3em;
    font-weight: bold;
}

.portal_name{
    display: flex;
    margin:0px;
    color:#10116E;
    font-size:1em;
    font-weight: bold;
}


.middle{
    width: calc(94%/3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_text{
    width: 70%;
    height: 55%;
    border: 0px;
    background: url("../../assets/icons/search.svg") no-repeat;
    background-color: #DCDCDC;
    background-position: 5% 50%;
    border-radius: 8px;
    padding: 0px 8%;   
}

/* right*/
.right{
    width: calc(94%/3);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.line{
    width: 2px;
    height: 70%;
    margin: 0px 4%;
    border: 1px solid #DCDCDC;

}

.logout_button{
    width: 6.5em;
    height: 55%;
    border: 0px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #10116E;
    margin-left: 4%;
    cursor: pointer;
}

.notification_bell{
    width: 2em;
    height: 2em;
    fill:#10116E;
}

