.upload_posts{
    width: 100%;
    height: 100%;
    padding: 0.5em 3%;
    background: #ffffff;
    box-shadow: 0px 10px 20px #00000029;
    border-radius: 14px;
    font-size: 1rem;
    box-sizing: border-box;
}

.left_buttons .a{
    fill:#fff;
}
.heading{
    height: 1.5em;
    margin: 0px;
    color: #10116E;
    font-weight: bold;
}

.text_area{
    width: 100%;
    height: calc(calc(100% - 6.6em)*0.7);
    /* margin: 1% 0px; */
    border: 0px;
    background: #DCDCDC;
    border-radius: 12px;
    padding: 1.2em 2%;
    resize: none;
    outline: 0;
}

.link{
    width: 100%;
    height: calc(calc(100% - 6.6em)*0.3);
    display: flex;
    align-items: center;
}

.link input{
    width:35%;
    height: 80%;
    border: 0px;
    background: #DCDCDC;
    border-radius: 8px;
    padding: 0px 1.8%;
}

.category_text{
    width: 100%;
    height: 2em;
    margin: 0px;
    color: #10116E;
    display: flex;
    align-items: center;
    font-weight: bold;
    /* margin-bottom: 1%; */
}

.buttons{
    height: 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_buttons{
    height: 80%;
    width: 55%;
    display: flex;
    justify-content: space-between;
    overflow-wrap: break-word;
}

.left_buttons button{
    width: calc(90%/3);
    height: 100%;
    background: url('../../assets/icons/tick_white.svg') no-repeat;
    background-size: 1em 1em;
    background-position: 8%;
    background-color: #DCDCDC;
    border: 0px;
    border-radius: 20px;
    padding-left: 1.5em;
    color: #ffffff;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
}

.left_buttons .active{
    background-color: #10116E;
}

.right_buttons{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    font-size: 0.8em;
}

.right_buttons button{
    height: 100%;
    border: 0px;
    border-radius: 5px;
    font-size: 1em;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}



.right_buttons button:nth-child(1){
    width: 65%;
    align-items: center;
    background: url('../../assets/icons/upload.svg') no-repeat;
    background-size: 1em 1em;
    background-position-x: 8%;
    background-position-y: 50%;
    background-color: #0076AB;
    padding-left: 9%;
}

.right_buttons .post_button{
    width: 25%;
    background: url('../../assets/icons/post.svg') no-repeat;
    background-size: 1em 1em;
    background-position-x: 10%;
    background-position-y: 50%;
    background-color: #1E9F0F;
    padding-left: 1.5em;
}

.right_buttons .disabled{
    width: 25%;
    background: url('../../assets/icons/post.svg') no-repeat;
    background-size: 1em 1em;
    background-position-x: 10%;
    background-position-y: 50%;
    padding-left: 7%;
    background-color: #dcdcdc;
    cursor: default;
}
@media(max-width:1200px){
    
    .buttons{
        /* font-size: 0.8rem; */
    }
}