.timeline{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.upload_post{
    width: 100%;
    height: 37%;
    min-width: 530px;
    min-height: 240px;
    margin-bottom: max(7vh, 10px);
}

.show_posts{
    width: 100%;
    height: 63%;
    min-width: 530px;
    

}

@media(max-width: 480px){
    .upload_post{
        min-width: 100%;
        margin-bottom: max(5vh,2em);
    }
    .show_posts{
        min-width: 100%;
    }
}