.register{
    width: 100%;
    height: 100%;
    padding: 4% 7%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input{
    outline: none;
}

button{
    outline: none;
}

select{
    appearance: none;
    outline: none;
    background: url("../../assets/svgs/dropdown.svg") no-repeat;
    background-position-x: 85%;
    background-position-y: 50%;
    background-size: 1em;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url("../../assets/svgs/calendar.svg") no-repeat;
    background-size: 100% 100%;
    width: 1.2em;
    height: 1.2em;
    border-width: thin;
}

.top{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.institute_logo{
    width: auto;
    height: 100%;
}

.help{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.help_logo{
    width: auto;
    margin-right:3%;

}

.help_text{
    color: #10116E;
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.register_box{
    width: 100%;
    height: 95%;
    /* min-height: 550px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -3%;
}

.heading{
    width: 100%;
    height: 1em;
    font-size: 2.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color:#10116E;
}

.inputs_form{
    width: 65%;
    height: 100%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.field{
    width: 100%;
    height: calc(100%/6);
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.field label{
    width: 100%;
    height: 1em;
    font-weight: 700 ;
    color: #10116E;
    margin-bottom: 2% 
}

.field input{
    width: 100%;
    height: 100%;
    background-color: #DCDCDC;
    padding: 0px 3%;
    border: 0px;
    border-radius: 10px;
}
.two_field{
    width: 100%;
    height: calc(100%/6);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.field_left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.field_left label{
    width: 100%;
    height: 1em;
    font-weight: 700 ;
    color: #10116E;
    margin-bottom: 4% 
    
}

.field_left input{
    width: 100%;
    height: 100%;
    background-color: #DCDCDC;
    padding: 0px 5%;
    border: 0px;
    border-radius: 10px;
}

.field_right{
    width: 36%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.field_right label{
    height: 1em;
    font-weight: 700 ;
    color: #10116E;
    margin-bottom: 5.607% 

}

.field_right input{
    width: 100%;
    height: 100%;
    background-color: #DCDCDC;
    padding: 0px 9.375%;
    text-align: center;
    border: 0px;
    border-radius: 10px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.batch{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.batch label{
    height: 1em;
    font-weight: 700 ;
    color: #10116E;
    margin-bottom: 3.344%;
}

.batch_name{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.batch_name select{
    width: 45%;
    height: 100%;
    background-color: #DCDCDC;
    padding: 0px 9.375%;
    box-sizing: border-box;
    text-align: center;
    border: 0px;
    border-radius: 10px;
}

/* lower*/
.lower{
    width: 100%;
    height: 6.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register_button{
    width: 35%;
    height: 2em;
    font-size: 1.6em;
    font-weight: bold;
    color: white;
    background-color: #10116E;
    border: 0px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.next_arrow{
    margin-left: 20px;
    height: 1.6em;
}

.line{
    border: 1px solid #707070;
    margin-top: calc(1em - 1px);
    margin-bottom: calc(1em - 1px);
    width: 80%;
}

.login_not_registered{
    height: 1em;
    margin: 0px;
}
.register_link{
    color:#10116E;
}


/* RegisterForm1 */
.container1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputs_form_1{
    width: 65%;
    height: 100%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.current_designation{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.current_designation label{
    width: 100%;
    height: 1em;
    font-weight: 700 ;
    color: #10116E;
    margin-bottom: 4.18%;
}

.current_designation input{
    width: 100%;
    height: 100%;
    background-color: #DCDCDC;
    padding: 0px 9.375%;
    border: 0px;
    border-radius: 10px;
}


.gender{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.gender label{
    width: 100%;
    height: 1em;
    font-weight: 700 ;
    color: #10116E;
    margin-bottom: 4.86745%;
}

.gender select{
    width: 100%;
    height: 100%;
    background-color: #DCDCDC;
    padding: 0px 9.375%;
    border: 0px;
    border-radius: 10px;
}

@media(max-width:1280px){
    .register{
        font-size: 0.8rem;
    }
}