.login{
    width: 100%;
    height: 100%;
    padding: 4% 7%;
    font-size: 1rem;
}

.top{
    width: 100%;
    height: 8.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.institute_logo{
    width: auto;
    height: 100%;
}

.help{
    display: flex;
    align-items: center;

}
.help_logo{
    width: auto;
    height: 90%;
    margin-right:4%;

}

.help_text{
    color: #10116E;
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.login_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:8%;
}

.heading_upper{
   margin-bottom: 8%;
   margin: 0%; 
   color: #10116E;
   font-size: 2em;
   font-weight: bold;
   font-family: 'Open San', sans-serif;
   display: flex;
   justify-content: center;

}

.heading_lower{
    margin-bottom: 8%;
    margin: 0%; 
    font-size: 2.75em;
    color: #10116E;
    font-weight: bold;
    font-family: 'Open San', sans-serif;
    display: flex;
    justify-content: center;
}

.inputs_form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:8%
}

.field{
    width: 100%;
    display: flex;
    font-size: 1em;
    flex-direction: column;
}

.field label{
    font-weight: 700 ;
    color: #10116E;
    margin-bottom: 2%;
}

.field input{
    height: 4em;
    background-color: #DCDCDC;
    padding: 3%;
    border: 0px;
    border-radius: 15px;
    margin-bottom: 10%
}

.login_button{
    width: 35%;
    height: 2em;
    font-size: 1.6em;
    font-weight: bold;
    color: white;
    background-color: #10116E;
    border: 0px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next_arrow{
    margin-left: 20px;
    height: 1.6em;
}

.line{
    margin-top:5%;
    margin-bottom: 5%;
    border: 1px solid #707070;
    width: 80%;
}

.login_not_registered{
    margin: 0px;
}
.register_link{
    color:#10116E;
}